<form class="border rounded p-3">
    <h3>Dati Identificativi:</h3>
    <div class="row">
        <div class="form-group col">
            <label >Ragione Sociale</label>
            <input type="text" class="form-control" required placeholder="Nano i-tech">
        </div>
        <div class="form-group col">
            <label >P.IVA</label>
            <input type="text" class="form-control" required placeholder="89765432101">
        </div>
        <div class="form-group col">
            <label >CAP</label>
            <input type="text" maxlength="5" required class="form-control" placeholder="12042">
        </div>
        
    </div>
    <br>
        
    <br>
    <hr>
    <br>
    <h3>Informazioni:</h3>
    
    <div class="form-group d-flex flex-row">
        <b>Numero dipendenti:</b>
        <input type="number"  style="height: 30px; width: 10%; margin-left: 10px;" >
    </div>
    <br>
    <div class="form-group">
        <b>Settore Merceologico:</b>
        <input type="text" class="form-control"> 
    </div>
    
    <br>
    <div class="d-flex flex-row">
        <b >Immobili di Proprietà:</b>
        <div class="form-check " >
            <input type="checkbox" class="form-check-input" >
            <span>SI</span>
        </div>
        <div class="form-check " >
            <input type="checkbox" class="form-check-input" >
            <span>NO</span>
        </div>
    </div>
   
    
    <br>
</form>

<br>
<br>