<form class="border rounded p-3">
    <h3>Bisogni Assicurativi:</h3>

    <b>Ambito della Copertura Assicurativa Richiesta*:</b>
    <div class="d-flex flex-row">
        <div class="form-check " >
            <input type="radio" class="form-check-input ambito" value="Privato" name="ambito">
            <span>Privato</span>
        </div>
        <div class="form-check">
            <input type="radio" class="form-check-input ambito" value="Lavorativo" name="ambito">
            <span>Lavorativo</span>
        </div>
        <div class="form-check">
            <input type="radio" class="form-check-input ambito" value="Non sa/Non risponde" name="ambito">
            <span>Non sa/Non risponde</span>
        </div>

    </div>
    <br>
    <b>Esistenza di altre coperture assicurative(polizze) su:</b>
    <div class="d-flex flex-row mx-auto " >
        <div class="form-check " >
            <input type="checkbox" class="form-check-input" id="chkRespCivil">
            <span>Responsabilità Civile</span>
        </div>
        <div class="form-check " >
            <input type="checkbox" class="form-check-input" id="chkInfor">
            <span>Infortuni</span>
        </div>
        <div class="form-check " >
            <input type="checkbox" class="form-check-input" id="chkMalat">
            <span>Malattie</span>
        </div>
        <div class="form-check " >
            <input type="checkbox" class="form-check-input" id="chckIncen">
            <span>Incendio</span>
        </div>
        <div class="form-check " >
            <input type="checkbox" class="form-check-input" id="chkFurto">
            <span>Furto</span>
        </div>
        <div class="form-check " >
            <input type="checkbox" class="form-check-input" id="chkCauz">
            <span>Cauzioni</span>
        </div>
    </div>
    <div class="d-flex flex-row mx-auto " >
        <div class="form-check " >
            <input type="checkbox" class="form-check-input" id="chkPrevid">
            <span>Previdenza</span>
        </div>
        <div class="form-check " >
            <input type="checkbox" class="form-check-input" id="chkMulti">
            <span>Multi rischi in Genere</span>
        </div>
        <div class="form-check " >
            <input type="checkbox" class="form-check-input" id="chkTut">
            <span>Tutela Legale</span>
        </div>
        <div class="form-check " >
            <input type="checkbox" class="form-check-input" id="chkTrasp">
            <span>Trasporti</span>
        </div>
        <div class="form-check " >
            <input type="checkbox" class="form-check-input" id="chkAuto">
            <span>Auto</span>
        </div>
        <div class="form-check " >
            <input type="checkbox" class="form-check-input" id="chkAltro">
            <span>Altro</span>
        </div>
    </div>
    <br>
    <hr>
    <br>
    <h3>Obbiettivi Assicurativi e Soggetti da Tutelare*:</h3>
    <small>Almeno una da selezionare, più di una selezionabuile </small>
    <br>
    <br>
    <ul>
        <li>
            <b>Protezione del proprio patrimonio per richieste di risarcimento dovute a danni causati a
                terzi:</b>
            <div class="d-flex flex-row">
                <div class="form-check">
                    <input type="radio" class="form-check-input selectJustOne" value="nella vita personale" name="patrimonio">
                    <span>nella vita personale</span>
                </div>
                <div class="form-check">
                    <input type="radio" class="form-check-input" value="nell'esercizio della professione" name="patrimonio">
                    <span>nell'esercizio della professione</span>
                </div>
            </div>
            
        </li>
        <li>
            <b>Protezione dei beni:</b>
            <div class="d-flex flex-row">
                <div class="form-check">
                    <input type="radio" class="form-check-input beni selectJustOne" name="beni" value="propri">
                    <span>propri</span>
                </div>
                <div class="form-check">
                    <input type="radio" class="form-check-input beni selectJustOne" name="beni" value="altrui" >
                    <span>altrui</span>
                </div>
            </div>
            <ul>
                <li>
                    <div class="form-check">
                        <input type="checkbox" class="form-check-input" id="chkDann" disabled>
                        <span>per danneggiamento (es: incendio, scoppio, acqua condotta, esplosione, etc) </span>
                    </div>
                </li>
                <li>
                    <div class="form-check">
                        <input type="checkbox" class="form-check-input" id="chkSottr" disabled>
                        <span>per sottrazione (es: furto, scippo, rapina, etc)</span>
                    </div>
                </li>
                <li>
                    <div class="form-check">
                        <input type="checkbox" class="form-check-input" id="chkTrasf" disabled>
                        <span>per trasferimento, trasporti</span>
                    </div>
                </li>
            </ul>
            
        </li>
        <li>
            <b>Tutela legale:</b>
            <div class="d-flex flex-row">
                <div class="form-check">
                    <input type="radio" class="form-check-input selectJustOne" value="per la propria professione" name="tutela">
                    <span>per la propria professione</span>
                </div>
                <div class="form-check">
                    <input type="radio" class="form-check-input selectJustOne" value="per la famiglia" name="tutela">
                    <span>per la famiglia</span>
                </div>
                <div class="form-check">
                    <input type="radio" class="form-check-input selectJustOne" value="per l'azienda" name="tutela" >
                    <span>per l'azienda</span>
                </div>
            </div>
            
        </li>
        <li>
            <b>Protezione della propria persona e/o dei familiari:</b>
            <div class="d-flex flex-row">
                <div class="form-check">
                    <input type="checkbox" class="form-check-input protezionePersonaFamiglia selectJustOne" id="chkSestessi">
                    <span>per se stessi</span>
                </div>
                <div class="form-check">
                    <input type="checkbox" class="form-check-input protezionePersonaFamiglia selectJustOne" id="chkFamiglia">
                    <span>per la famiglia</span>
                </div>
            </div>
            <span>E in maniera specifica</span>
            <div class="d-flex flex-row">
                <div class="form-check">
                    <input type="checkbox" class="form-check-input" id="chkInfortuni" disabled>
                    <span>per infortuni</span>
                </div>
                <div class="form-check">
                    <input type="checkbox" class="form-check-input" id="chkMalattia" disabled>
                    <span>per malattia</span>
                </div>
                <div class="form-check">
                    <input type="checkbox" class="form-check-input" id="chkMorte" disabled>
                    <span>per morte</span>
                </div>
            </div>
            
        </li>
        <li>
            <b>Protezione viaggi:</b>
            <div class="form-check">
                <input type="radio" class="form-check-input selectJustOne" value="viaggi (annullamento, perdita bagagli, infortuni, assistenza sanitaria, ect)" name="viaggi">
                <span>viaggi (annullamento, perdita bagagli, infortuni, assistenza sanitaria, ect)</span>
            </div>
            <div class="form-check">
                <input type="radio" class="form-check-input selectJustOne" value="conducente" name="viaggi">
                <span>conducente</span>
            </div>
            <div class="form-check">
                <input type="radio" class="form-check-input selectJustOne" value="circolazione" name="viaggi">
                <span>circolazione</span>
            </div>
        </li>
    </ul>
    <div class="alert alert-danger" role="alert" *ngIf="errore1">
        Seleziona almeno un Obbiettivo Assicurativo
    </div>
    
    <br>
    <input type="submit" class="btn btn-primary" value="Fine" (click)="save()">
    <br>
</form>

<br>
<br>