form{
    background-color: white;
}

.form-check{
    margin-left: 5px;
}
input[type="Number"]{
    width: 5vw; height: 20px; margin: 2px;
}
.custom-input{
    border: none; border-bottom: 1px solid black; margin-left: 5px; 
}

.custom-input-error{
    border-bottom: 1px solid red;
    border-right: 1px solid red;
    border-radius: 0px 0px 5px 0px;

}